[submodule "src/tiny-process-library"]
	path = src/tiny-process-library
	url = https://github.com/naumazeredo/tiny-process-library
[submodule "src/subprocess"]
	path = src/subprocess
	url = https://github.com/naumazeredo/subprocess.git
